section
{
	min-height: calc(100% - 270px);
	padding-left: 2%;
	padding-right: 2%;
}
img
{
	opacity: 0;
	width: 100%;
	display: block;
}
svg
{
	width: 96%;
	z-index: 8;
	opacity: 1;
	position: absolute;
}
svg:hover
{
	opacity:0;
}
svg:hover+img
{
	opacity:1;
}
#mainform
{
	width: 100%;
	margin-top: 15px;
	border: 1px dotted black;
	padding: 5px;	
}
@media only screen and (min-width: 900px) {
		img
		{
			width: 56.25%;
		}
		svg
		{
			width: 54%;
		}
		#mainform
		{
			width: 40%;
			position: absolute;
			right: 2%;
			top: 120px;
		}
}
#mainform input, #mainform input
{
	width: calc(100% - 10px);
	display: block;
	padding: 5px;
	margin: 5px;
}
#mainform button
{
	padding: 5px;
	margin: 5px;
}
input[type=file]
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.f_label
{
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 10px;
	height: 50vh;
	width: 50vh;
	margin-left: calc(50% - 25vh);
    font-weight: 500;
    font-size: 14px;
    line-height: 50vh;
    text-align: center;
    overflow:hidden;
    background-color: white;
	border: 1px solid #09f;
    text-transform: uppercase;
    cursor: pointer;
}
.f_label:hover
{
    background-color: #f09;
	color: white;
	border:  1px solid #f09;
}
